<!--<div style="text-align:center">
	<div>
		<webcam height="{{height}}" width="{{width}}" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
		 (initError)="handleInitError($event)"></webcam>
		<br/>
		<!--<div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
		<div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
	</div>
</div>-->
<div>
<span id="attachCanvas"> </span>
<video id="video" height="{{height}}" width="{{width}}" autoplay="true" muted #video></video>
</div>
<span id="detectionsFace" style="color: aqua;" #detectionsFace>Inizializzazione in corso...</span>
