<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Controllo Viso / Dashboard</h2>
    <!--<p class="category">Press spin button</p>-->
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-9 col-camera" >
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">Input/Output</h4>
        </div>
        <div class="card-body centerVideo">
          <app-camera (metadataFace)=metadataFace [width]=550 [height]=550 [subscribeCamera]=false></app-camera>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">All Faces</h5>
        </div>
        <div class="card-body table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
              <thead class=" text-primary">
                <tr>
                  <th rowspan="2">
                    Id
                  </th>
                  <th rowspan="2">
                    Gender
                  </th>
                  <th rowspan="2">
                    Age
                  </th>
                  <th rowspan="2">
                    Expressions
                  </th>
                  <th colspan="3" style="border-bottom: 1px solid rgba(0, 0, 0, 0.125)">
                    Play
                  </th>
                </tr>
                <tr>
                  <th>Last Play Start</th>
                  <th>Minutes</th>
                  <th>Money</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let face of faces">
                  <td>
                    {{ face.id }}
                  </td>
                  <td>
                    {{face.gender }}
                  </td>
                  <td>
                    {{face.age | number: '1.0-0'}}
                  </td>
                  <td>
                    <p *ngFor="let expression of face.expressions | keyvalue">
                      <span class="{{expression.key}} dispTable">{{expression.key}} :
                        {{expression.value * 100 | number:'1.1-2'}} </span>
                    </p>
                  </td>
                  <td>
                    {{face.lastDetect | date:'medium' }}
                  </td>
                  <td>
                    {{convertMiliseconds(face.totalMinutes, "m")}}
                  </td>
                  <td>
                    {{face.totalMoney}}
                  </td>
                </tr>

              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>